<div class="col">
      <h2 dir = "rtl">نمونه سؤالات:</h2>
      <a class = "link" <%= link_to "حقوق اداری ۱",    image_path('officeatest.pdf') %><br><br>
      <a class = "link" <%= link_to "حقوق اداری ۲",    image_path('officebtest.pdf') %><br><br>
      <a class = "link" <%= link_to "حقوق اساسی ۱",    image_path('baseatest.pdf') %><br><br>
      <a class = "link" <%= link_to "حقوق اساسی ۲",    image_path('basebtest.pdf') %><br><br>
      <a class = "link" <%= link_to "حقوق کار",        image_path('worktest.pdf') %><br><br>
            
       </div>
       
       
    <div class="col">
      <h2 dir = "rtl">منابع:</h2>
      
      <a class = "link" <%= link_to "حقوق اداری ۱،۲",    office_path %><br><br>
      	 <a class = "link" <%= link_to "حقوق اساسی ۱،۲",    base_path %><br><br>
      		<a class = "link" <%= link_to "حقوق کار",   work_path %><br><br>
          <a class = "link" <%= link_to "مقالات",   article_path %></div>


    <div class="col last">
      <h2 dir = "rtl">سر فصل دروس:</h2>
      <a class = "link" <%= link_to "حقوق اداری ۱",    officea_path %><br><br>
      	<a class = "link" <%= link_to "حقوق اداری ۲",    officeb_path %><br><br>
      	 <a class = "link" <%= link_to "حقوق اساسی ۱",    basea_path %><br><br>
      	 	<a class = "link" <%= link_to "حقوق اساسی ۲",    baseb_path %><br><br>
      		<a class = "link" <%= link_to "حقوق کار",   worka_path %><br>
      
        </div>
    <div class="clr"></div>
  </div>
    <div class="clr"></div>
  </div>