<div class="col">
      <h2 dir = "rtl">نمونه سوالات:</h2>
      <p dir = "rtl">نحوه ارتباط</p>
      <a class = "link" <%= link_to "اطلاعات بیشتر",    contact_path %> 
       </div>
       
       
    <div class="col">
      <h2 dir = "rtl">منابع:</h2>
      
      <a class = "link" <%= link_to "حقوق اداری ۱،۲",    office_path %><br><br>
      	 <a class = "link" <%= link_to "حقوق اساسی ۱،۲",    base_path %><br><br>
      		<a class = "link" <%= link_to "حقوق کار",   work_path %><br></div>

    <div class="col last">
      <h2 dir = "rtl">سر فصل دروس:</h2>
      <a class = "link" <%= link_to "حقوق اداری ۱",    officea_path %><br><br>
      	<a class = "link" <%= link_to "حقوق اداری ۲",    officeb_path %><br><br>
      	 <a class = "link" <%= link_to "حقوق اساسی ۱",    basea_path %><br><br>
      	 	<a class = "link" <%= link_to "حقوق اساسی ۲",    baseb_path %><br><br>
      		<a class = "link" <%= link_to "حقوق کار",   worka_path %><br>
      
        </div>
    <div class="clr"></div>
  </div>
    <div class="clr"></div>
  </div>